name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: docker
    container:
      image: python:3.10.12
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      - name: install dependencies
        run: pip install nornir_utils nornir_netmiko nornir_scrapli load-dotenv

  deploy:
    needs: build
    runs-on: self-hosted
    container:
      image: python:3.10.12
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      - name: install dependencies
        run: pip install nornir_utils nornir_netmiko nornir_scrapli load-dotenv
      - name: run the script
        run: python3 nr_test.py
